<section class="sidebar-section">
    <h4 class="section-heading">Certificates</h4>
    <ul class="is-size-7">
        {{ range sort . "date" "desc" }}
        <li class="mb-2">
            <div class="has-text-weight-bold">
                <a href="{{ .url }}" class="has-text-dark" target="_blank">{{ .name }}</a>
            </div>
            <div class="has-text-grey">{{ .issuer }}</div>
            <small class="has-text-grey"><time datetime="{{ time.Format "2006-01-02" .date }}">{{ time.Format "2 January 2006" .date }}</time></small>
        </li>
        {{ end }}
    </ul>
</section>
