<section class="sidebar-section">
    <h4 class="section-heading">Certificates</h4>
    <ul class="list-unstyled">
        {{ range sort . "date" "desc" }}
        <li class="mb-2">
            <div class="fw-bold">
                <a href="{{ .url }}" class="text-dark" target="_blank">{{ .name }}</a>
            </div>
            <div class="text-muted">{{ .issuer }}</div>
            <small class="text-muted"><time datetime="{{ time.Format "2006-01-02" .date }}">{{ time.Format "2 January 2006" .date }}</time></small>
        </li>
        {{ end }}
    </ul>
</section>
