<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" id="html">
<head>
    {{ partial "head.html" . }}
</head>
<body>
    {{ partial "banner.html" . }}
    {{ with $.Site.Data.resume }}
    <div class="container px-3 px-lg-5 px-print-0 mw-print-100">
        <article id="resume" class="mx-auto p-5 m-5 shadow-lg shadow-print-none m-print-0 p-print-2">
            {{ partial "header.html" . }}
            <hr>
            <div class="py-2">
                <p class="mb-0">
                    {{ (replace .summary "\n" "<br/>") | safeHTML }}
                </p>
            </div>
            <hr>
            <div id="resume-body">
                <div class="row">
                    <div class="col-12 col-md-8 pe-md-5">
                        {{ partial "experience.html" .experience }}
                        {{ if .projects }}
                        {{ partial "projects.html" .projects }}
                        {{ end }}
                    </div>
                    {{ partial "sidebar.html" . }}
                </div>
            </div>
        </article>
    </div>
    {{ end }}
{{ partial "footer.html" . }}
{{ partial "scripts.html" . }}
</body>
</html>
