@use '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@use '../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@use '../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@use '../../node_modules/@fortawesome/fontawesome-free/scss/regular';
