<div id="print-banner" class="px-2 py-3 has-text-info-invert has-text-centered has-text-weight-bold has-background-info d-print-none is-block">
    <p class="is-size-7 mb-1">This resume is Open Source, responsive & printable</p>
    <a class="button is-small is-primary has-text-weight-bold ml-1 mt-0" href="javascript:window.print()"><i class="fas fa-print"></i>&nbsp;Print</a>
    <a class="button is-small is-dark has-text-weight-bold ml-1 mt-0" href="{{ $.Site.Params.source }}" target="_blank" rel="noreferrer"><i class="fab fa-github"></i>&nbsp;Source code</a>
</div>
