<section class="print-page-break-avoid">
    <h4 class="section-heading">Certificates</h4>
    <ul class="ml-2">
        {{ range sort . "date" "desc" }}
        <li class="columns mb-2">
            <div class="has-text-weight-bold column is-6">
                <a href="{{ .url }}" class="has-text-dark" target="_blank">{{ .name }}</a>
            </div>
            <div class="column is-6 has-text-right-tablet">
            <div class="has-text-grey"><small class="has-text-grey"><time datetime="{{ time.Format "2006-01-02" .date }}">{{ time.Format "2 January 2006" .date }}</time></small></div>
            </div>
        </li>
        {{ end }}
    </ul>
</section>
