<section class="print-page-break-avoid">
    <h4 class="section-heading">Education</h4>
    <ul class="ml-2">
        {{ range . }}
        <li class="columns">
            <div class="has-text-weight-bold column is-6">{{ .degree }}</div>
            <div class="column is-6 has-text-right-tablet">
            <a href="{{ .url }}" class="has-text-grey">{{ .university }}</a>
            <small class="has-text-grey">{{ partial "_timerange.html" . }}</small>
            </div>
        </li>
        {{ end }}
    </ul>
</section>
