<section class="print-page-break-avoid">
    <h4 class="section-heading">Education</h4>
    <ul class="list-unstyled ms-2">
        {{ range . }}
        <li class="row">
            <div class="fw-bold col-sm-6">{{ .degree }}</div>
            <div class="col-sm-6 text-sm-end">
            <a href="{{ .url }}" class="text-muted">{{ .university }}</a>
            <small class="text-muted">{{ partial "_timerange.html" . }}</small>
            </div>
        </li>
        {{ end }}
    </ul>
</section>
