{{ $details := dict }}
{{ if .repo }}
    {{ $details = resources.GetRemote (printf "https://api.github.com/repos/%s" .repo) | transform.Unmarshal }}
{{ end }}
{{ if .packagist }}
    {{ $packagistDetails := resources.GetRemote (printf "%s.json" .packagist) | transform.Unmarshal }}
    {{ $details = merge $details $packagistDetails }}
{{ end }}
{{ with (merge $details .) }}
<div class="item mb-0 print-page-break-avoid {{ if .html_url }} col-sm-6 {{ end }}">
    <div class="item-heading row align-items-center">
        <h5 class="item-title col-12 mb-0">
            {{ if .html_url }}
            <a href="{{ .html_url }}" class="text-dark" target="_blank">{{ .name }}</a>
            {{ else }}
            {{ .name }}
            {{ end }}
        </h5>
        {{ if .html_url }}
        <span class="hidden d-print-block small">{{ .html_url }}</span>
        {{ end }}
        <div class="col-12 text-muted small">
            {{ partial "_timerange.html" . }}
        </div>
    </div>
    <div class="item-content">
        <p class="small mb-1">{{ .description | markdownify }}</p>
        <p>
            {{ if isset . "forks_count" }}
            <span class="badge rounded-pill bg-light text-dark border"><i class="far fa-fw fa-star"></i> {{ partial "_human_number.html" .stargazers_count }}</span>
            {{ end }}
            {{ if isset . "package" }}
            <span class="badge rounded-pill bg-light text-dark border"><i class="fas fa-fw fa-download"></i> {{ partial "_human_number.html" .package.downloads.total }}</span>
            {{ end }}
            <span class="badge rounded-pill bg-light text-dark border">{{ .language }}</span>
            {{ range .keywords }}
            <span class="badge rounded-pill bg-light text-dark border">{{ . }}</span>
            {{ end }}
        </p>
    </div>
</div>
{{ end }}
