<!DOCTYPE html>
<html lang="{{ $.Site.Language.Locale }}" id="html" data-theme="light">
<head>
    {{- partial "head" . }}
</head>
<body>
    {{- block "header" . }}
        {{ partial "corner" . }}
    {{- end }}
    {{- block "main" . }}
    <main class="container" id="hero-main">
        <article class="has-text-centered is-flex is-align-items-center is-justify-content-center min-vh-100 py-5 px-2">
            <div class="columns is-centered is-flex-grow-1">
                <div class="column is-9">
                    {{- block "hero" . }}
                        {{- partial "hero" . }}
                    {{- end }}
                </div>
            </div>
        </article>
    </main>
    {{- end }}
    {{- partial "footer" . }}
    {{- partial "scripts" . }}
</body>
</html>
