<nav class="is-flex is-justify-content-center is-flex-wrap-wrap">
    <a href="tel:{{ .phone }}" class="px-2 py-2 has-text-dark" aria-label="Phone" title="Phone">
        <i class="fas fa-phone fa-fw" aria-hidden="true"></i>
    </a>
    <a href="https://{{ .website }}" class="px-2 py-2 has-text-dark" aria-label="Website" title="Website">
        <i class="fas fa-globe-asia fa-fw" aria-hidden="true"></i>
    </a>
    <a href="mailto:{{ .email }}" class="px-2 py-2 has-text-dark" aria-label="E-mail" title="E-mail">
        <i class="fas fa-envelope fa-fw" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/{{ .github }}" class="px-2 py-2 has-text-dark" aria-label="GitHub profile" title="GitHub profile">
        <i class="fab fa-github fa-fw" aria-hidden="true"></i>
    </a>
    <a href="https://stackoverflow.com/users/{{ .stack_overflow }}" class="px-2 py-2 has-text-dark" aria-label="StackOverflow profile" title="StackOverflow profile">
        <i class="fab fa-stack-overflow fa-fw" aria-hidden="true"></i>
    </a>
    <a href="https://packagist.org/users/{{ .packagist }}" class="px-2 py-2 has-text-dark" aria-label="Packagist profile" title="Packagist profile">
        <i class="fas fa-box fa-fw" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/{{ .github }}.gpg" class="px-2 py-2 has-text-dark" aria-label="GPG key" title="GPG key">
        <i class="fas fa-fingerprint fa-fw" aria-hidden="true"></i>
    </a>
    <a href="https://dev.to/{{ .dev_to }}" class="px-2 py-2 has-text-dark" aria-label="Dev.to profile" title="Dev.to profile">
        <i class="fab fa-dev fa-fw" aria-hidden="true"></i>
    </a>
    <a href="{{ .credly }}" class="px-2 py-2 has-text-dark" aria-label="Credly profile" title="Credly profile">
        <i class="fas fa-certificate fa-fw" aria-hidden="true"></i>
    </a>
    <a href="https://{{ .linkedin }}" class="px-2 py-2 has-text-dark" aria-label="LinkedIn profile" title="LinkedIn profile">
        <i class="fab fa-linkedin fa-fw" aria-hidden="true"></i>
    </a>
</nav>
