<section id="experience">
    <h4 class="section-heading">Work Experience</h4>
    <div class="timeline position-relative ps-4">
        {{ range sort . "start" "desc" }}
        <div class="item mb-4 position-relative print-page-break-avoid">
            <div class="row align-items-center mb-2">
                <h5 class="col-12 col-md-6 col-lg-6 mb-2 mb-md-0">
                    {{ .position }}
                </h5>
                <div class="col-12 col-md-6 col-lg-6 text-muted text-start text-end small">
                    <a class="text-dark" href="{{ .website }}" target="_blank" rel="noreferrer">{{ .company }} [{{ .country }}]</a>
                </div>
                <div class="col-12 col-md-6 col-lg-6 text-muted text-start small">
                    {{ partial "_timerange.html" . }}
                </div>
            </div>
            <p class="mb-0">{{ .description }}</p>
            {{ if .technologies }}
            <p>
                {{ range .technologies }}
                <span class="badge rounded-pill bg-light text-dark border">{{ . }}</span>
                {{ end }}
            </p>
            {{ end }}
        </div>
        {{ end }}
    </div>
</section>
