@import 'spacing';

$print-page-size: a4;
$print-body-min-width: 960px;

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }

  a {
    &:not(.button) {
      text-decoration: underline;
    }
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  // Specify a size and min-width to make printing closer across browsers.
  // We don't set margin here because it breaks `size` in Chrome. We also
  // don't use `!important` on `size` as it breaks in Chrome.
  @page {
    size: $print-page-size;
  }
  body {
    min-width: $print-body-min-width !important;
    width: $print-body-min-width !important;
  }
  .container {
    min-width: $print-body-min-width !important;
  }

  .tag {
    border: 1px solid #000;
  }

  .mw-print-100 {
    max-width: 100% !important;
  }
  .mh-print-100 {
    max-height: 100% !important;
  }

  .shadow-print-sm { box-shadow: 0 .125rem .25rem rgba(#0a0a0a, .15) !important; }
  .shadow-print { box-shadow: 0 .5rem 1rem rgba(#0a0a0a, .15) !important; }
  .shadow-print-lg { box-shadow: 0 1rem 3rem rgba(#0a0a0a, .175) !important; }
  .shadow-print-none { box-shadow: none !important; }

  .print-page-break-avoid {
    page-break-inside: avoid;
  }

  .print-page-break-after {
    page-break-after: always;
  }
}

body {
  -webkit-print-color-adjust: exact !important;
}
